#root,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header > .wrapper {
  display: flex;
  justify-content: space-between;
}
.wrapper {
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
.containerMovie {
  background: #000;
}
.container {
  width: 600px;
  height: 100vh;
  background-image: var(--backImg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxMovies {
  width: 100%;
  height: 100%;
  position: relative;
  background: #002bff;
  background: linear-gradient(
    90deg,
    rgba(0, 43, 255, 1) 0%,
    rgba(238, 174, 202, 1) 30%,
    rgba(148, 187, 233, 1) 60%,
    rgba(0, 43, 255, 1) 100%
  );
}
.smallBackgd {
  background-image: url("/public/images/bandeMovieIphone12.png");
}
.bigBackgd {
  background-image: url("/public/images/bandeMovie.png");
}

.backgMovies {
  width: var(--widthWindows);
  height: var(--heightWindows);
  object-fit: cover;
}

header {
  width: 100%;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button {
  width: calc(100% / 4);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px solid white;
  font-size: 0.85rem;
  font-weight: 700;
  color: white;
}
.btnMovie {
  background-color: rgba(0, 0, 0);
}
.btnSlctMovie {
  background-color: rgba(0, 0, 0, 0.7);
}
.choice {
  background-color: black;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  font-size: 1.5rem;
  font-weight: 700;
  width: 300px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.containerPicActors {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  /* background-color: red; */
  gap: 10px;
  flex-wrap: wrap;
  padding: 45px;
}

.boxPicActors {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: blue; */
  gap: 10px;
  padding: 10px;
}

.backgActors {
  width: 130px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid grey;
  box-shadow: 1px 1px 2.5px grey;
}

.titleActors {
  margin-top: -50px;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

@media all and (min-width: 576px) {
  .wrapper {
    max-width: 500px;
  }
}

@media all and (min-width: 768px) {
  .wrapper {
    max-width: 600px;
    padding: 0 10px 0 10px;
  }
  .containerPicActors {
    top: 70%;
  }
}
